<h1>You picked... <%= @pokemon.name.capitalize %>! </h1>

<div id="artwork-image">
  <img src="/css/official-artwork/<%="#{@pokemon.id}"%>.png">
</div>

<div id="stats">
  <!-- <h2>Stats:</h2> -->
  <%="#{@pokemon.name.capitalize} is a #{@pokemon.species} type pokemon.  They usually weigh #{@pokemon.weight} lbs. and are #{@pokemon.height}' tall."%><br>
  <br>
  <%= "HP: #{@pokemon.hp}"%><br>
  <%= "Attack: #{@pokemon.attack}" %><br>
  <%= "Defense: #{@pokemon.defense}" %><br>
  <%= "Speed: #{@pokemon.speed}" %><br>
</div>

<% if session[:user_id] != nil %>
  <% if @user.pokemons.include?(@pokemon) %>
    <%= erb(:'pokemon/_unsubscribe', locals: { user: @user, pokemon: @pokemon }) %>
  <% else %>
    <%= erb(:'pokemon/_subscribe', locals: { user: @user, pokemon: @pokemon }) %>
  <% end %>
<% end %>

<%=erb(:'review/_reviews', locals: { pokemon: @pokemon }) %>

<a href="/review/new?pokemon_id=<%=@pokemon.id%>"><%=" Write Review about #{@pokemon.name.capitalize}"%></a>
